.slots__wrap p{
    margin: 0;
}
.slots__wrap{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cards__wrap{
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}
.card__wrap{
    border-radius: 15px;
}
.card{
    width: max-content;
    height: max-content;
    border: solid 1px var(--light-gray-color);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    background-color: #ffffff;
}
.card:hover{
    transition: all .3s;
    background-color: #ffffffbb;
}
.slots__photo{
    width: 100px;
    height: 100px;
    background-color: #000;
    margin: auto;
}
.red__button{
    background-color: rgb(226, 118, 134) !important;
  
  }
.red__button:hover{
    background-color: rgb(250, 157, 171) !important;
}
.add__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add__wrap img{
    cursor: pointer;
}
.add__wrap img:hover{
    transition: all .3s;
    transform: scale(1.25,1.25);
}
