.block{
    width: 100%;
    height: 100%;
    background: #fff;
}
.hover{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hover>.img__plus{
    opacity: 0;
}
.hover:hover{
    background-color: #00000033;
}
.hover:hover > .img__plus{
    opacity: 1;
}
.hover__error{
    background-color: #ff000033;
}
.hover img:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: all .3s;
}
.modal__inner{
    width: max-content;
    height: max-content;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
}
.modal__inner p, .modal__inner h3{
    margin: 0;
}
.title{
    border-bottom: solid 1.5px #000;
    box-sizing: border-box;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.section{
    width: 250px;
    height: 150px;
    border-radius: 15px;
    background-color: var(--light-gray-color);
    display: grid;
    gap: 5px;
}
.second{
    grid-template-columns: 1fr 1fr;
}
.third{
    grid-template-columns: 1fr 1fr 1fr;

}
.fourth{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
.fifth{
    grid-template-columns: repeat(5,1fr);

}
.sixth{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.seventh{
    grid-template-columns: repeat(7,1fr);
}
.eighth{
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
}
.mini__block{
    width: 100%;
    height: 100%;
    background-color: #00000077 ;
    border-radius: 5px;
    cursor: pointer;
}
.active{
    background-color: var(--main-color);
}
.red__button{
    background-color: rgb(226, 118, 134) !important;
  
  }
.red__button:hover{
    background-color: rgb(250, 157, 171) !important;
}
.copy__wrap{
    height: max-content;
    display: flex;
    border: solid 1.5px var(--light-gray-color);
    border-radius: 4px;
}
.copy__input{
    height: 56px;
    border: none;
    padding-left: 5px;
}
.copy__button{
    border: none;
    background: #fff;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
}
.buy__confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.buttons__wrap{
    display: flex;
    gap: 10px;
}
.panel__option{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.panel{
    width: max-content;
    height: max-content;
    display: flex;
    gap: 15px;
    border-radius: 5px;
    margin: auto;
}
.panel__menu{
    width: max-content;
    height: max-content;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 7.5px;
    padding: 10px;
    position: absolute;
    margin-top: 45px;
    z-index: 997;
}
.panel__menu__option > p{
    cursor: pointer;
    margin: 0;
}
.modal__inner{
    width: max-content;
    height: max-content;
    border-radius: 7.5px;
    background: #fff;
    padding: 10px;
}
.photo__wrap{
    width: 350px;
    height: 200px;
    box-sizing: border-box;
    border: dashed 3px var(--light-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-gray-color) ;
}
.photo__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.file__button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo__inner p{
    margin: 0;
}
.buttons__wrap{
    display: flex;
    gap: 7.5px;
}


.file__button > input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.edit__menu{
    display: flex;
    gap: 7.5px;
    background: #353935;
    padding: 10px;
    border-radius: 10px;
    height: max-content;
}
.element__wrap{
    display: flex;
    align-items: center;
    gap: 7.5px;
}
.element{
    margin: 0;
    width: max-content;
    cursor: pointer;
    transition: all .3s;
    outline: none;
}
.selected{
    opacity: 0.3;
}
.edit__icon{
    color: #fff;
    cursor: pointer;
}
.edit__icon:hover{
    transition: all .3s;
    transform: scale(1.2);
}
.element::selection {
    background-color: initial; 
    color: initial;
  }
  