.account__wrap {
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.account__top{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.account__row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 100px;

}

.account__block__color {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

.account__block {
    width: 100%;
    height: 100%;
    background-color: var(--light-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 15px;
    text-align: center;
}



.fullwidth {
    width: 100% !important;
}
.left__bottom:hover{
    transition: all .3s;
    transform: translate(-15px, 15px);
}
.left__top:hover{
    transition: all .3s;
    transform: translate(-15px, -15px);
}
.right__bottom:hover{
    transition: all .3s;
    transform: translate(15px, 15px);
}
.right__top:hover {
    transition: all .3s;
    transform: translate(15px, -15px);
}
.edit{
    display: flex;
    align-items: center;
    gap: 10px;
}
.edit h3{
    margin: 0;
}
.edit img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.input{
    max-width: 100%;
    height: max-content;
    border: none;
    background: none;
    color: #fff;
    outline: none;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

}
.account__wrap p{
    margin: 0;
}
.text input[type="date"]{
    padding-left: 27.5px;
}
