.wrap{
    width: 100%;
    height: max-content;
    padding: 100px 0px;
    background-color: #222;
    display: flex;
    justify-content: center;
    cursor: default;
}
.wrap a{
    color: #fff;
}
.wrap h2{
    font-weight: bold;
    font-size: larger;
    margin: 0;
}
.wrap h3{
    font-weight: bold;
    margin: 0;
}
.wrap p{
    margin: 0;
}
.inner{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: #fff;
}
.column{
    max-width: 350px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
}
.column:nth-child(-n+1){
    align-items: center;
    gap: 10px;
}
.logo{
    width: 100px;
    height: 100px;
    background-color: #fff;
    cursor: pointer;
}
.column:nth-last-child(-n+2) p:hover{
    cursor: pointer;
    color: #b8b8b8;
    text-decoration:underline dotted;
}
.networks__panel{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.network{
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.network img{
    max-width: 25px;
    max-height: 25px;
}
