.wrap {
    width: 80%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.wrap>h2,
.option p {
    text-align: center;
    margin: 0;
}

.inner {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu,
.content {
    width: max-content;
    height: max-content;
    padding: 10px;
    display: flex;

}

.menu {
    gap: 15px;

}
.special{
    background-color: var(--dark-gray-color);
    color: #fff;
    position: fixed;
    top: 15px;
    z-index: 999;
}
.option {
    width: max-content;
    padding: 5px 5px;
    box-sizing: border-box;
}

.option p {
    cursor: pointer;
}

.active {
    font-weight: bold;
    border-bottom: solid 3px var(--main-color);
}

.content {
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.title {
    width: 80%;
    color: var(--light-gray-color);
    text-align: left;
    box-sizing: border-box;
    border-bottom: solid 3px var(--light-gray-color);
}

.title>h2 {
    margin: 0;
    padding-bottom: 5px;
    padding-left: 25px;
}

.stats__wrap {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
}

.stats__block {
    width: 250px;
    height: 250px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.text {
    max-width: 90%;
    word-wrap: break-word;
    hyphens: auto;
}

.text h1,
.text p,
.text h3 {
    margin: 0;
    text-align: center;
}

.text h1 {
    font-size: 40px;
}

.account__wrap {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.account__row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 100px;

}

.account__block__color {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

.account__block {
    width: 100%;
    height: 100%;
    background-color: var(--light-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 15px;
}

.account__block:hover {
    transition: all .3s;
    transform: translate(15px, -15px);
}

.fullwidth {
    width: 95% !important;
}
.settings__wrap{
    width: 100%;
    height: max-content;
    display: flex;
    gap: 50px;
}
.settings__option{
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: aliceblue;
}
.settings__option h3, .settings__option p{
    margin: 0;
}
.img__wrap {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.img__wrap img {
    width: 100%;
    height: 100%;
}
.buy__button{
    width: max-content;
    height: max-content;
    padding: 7.5px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.buy__button p{
    margin: 0;
}
.payment__wrap{
    display: flex;
    gap: 25px;
}

.settings__edit{
    width: 15px;
    height: 15px;
    background-color: gray;
    position: relative;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.add__payment{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.add__payment > div{
    width: 25px;
    height: 25px;
    background-color: var(--light-gray-color);
}
.promos__wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.promo{
    width: max-content;
    height: 100px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
}
.promo__top{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.promo__date{
    color: rgb(245, 134, 134);
    font-weight: bold;
    font-size: 18px;
}