body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --main-color:#1565c0;
  --main-color-hover:#8b8bd6;
  --dark-gray-color:#222;
  --light-gray-color:#b2b2b2
}
:hover{
  transition: all .1.5s;
}
::selection{
  background-color: none;
  color: var(--main-color);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
Button{
  background-color: var(--main-color) !important;
}
Button:hover{
  background-color: var(--main-color-hover) !important;
}
.modal__inner{
  border-radius: 15px;
  background-color: #fff;
}
a{
  text-decoration: none;
}